<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Initial Helix Foundation Website">
          <targetDataStore physicalRootPath="D:\git\HelixInitial\InitialHelix\Foundation\Serialization\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.Serialization.Templates.Feature" database="master" path="/sitecore/templates/feature/initialhelix" />
            <include name="Foundation.Serialization.Templates.Foundation" database="master" path="/sitecore/templates/foundation/initialhelix" />
            <include name="Foundation.Serialization.Templates.Project" database="master" path="/sitecore/templates/project/initialhelix" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>